
/*    -------------  COMMON   ---------------     */


@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Roboto:wght@300;400&display=swap');


html {
  background-color: #b29d7e8c;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 425px;
}
.text-shadow {
  text-shadow: 2px 2px 2px #000;
}
.text-shadow-white {
  text-shadow: 3px 3px 4px rgb(251, 248, 248);
}

.shadow-thp {
  box-shadow: 0 2px 9px 0 rgba(2, 2, 1, 0.959);
}

/*    -------     JUMBOTRON   -----------    */


#jumbotron-hero {
  font-family: "merienda one", cursive;
  font-size: 2.5em;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.401), rgba(0, 0, 0, 0.411)),
    url("https://cdn.pixabay.com/photo/2017/07/22/11/46/adventure-2528477_1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

/*    -------     3 CARDS   -----------    */

.card {
  margin-bottom: 45px;
  font-family:"Comic sans ms", cursive;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.one {
  color: rgba(255, 255, 255, 0);
}
main a:hover {
  color: rgba(109, 80, 46, 0.253);
  text-decoration: none;
}
/*    -------     CTA  -----------    */

.cta {
  font-family: "Merienda One", cursive;
}
.cta p {
  font-family: "Comic Sans MS";
  font-size: 1.5rem;
}
.cta .btn {
  animation: cta 1.4s infinite alternate;
}
@keyframes cta {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
    background-color: #dd8f19;
  }
  100% {
    transform: translateY(0);
    background-color: #ecde23;
  }
}

/*    -------     CAROUSEL   -----------    */


.carousel {
  font-family: "Comic Sans MS";
  opacity: 0.98;
  width: 75%;
  height: auto;
}
.carousel h3 {
  font-style: italic;
}

/*    -------     PRESENTATIONS   -----------    */


.presentations {
  font-family: "Comic Sans MS";
}
.pictures_presentation {
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 210px;
  box-shadow:-2px -2px 8px rgba(255, 255, 255, 0.81), 2px 2px 8px rgba(0, 0, 0, 0.81)
}
.font_presentation {
  font-family: "merienda one", cursive;
}
.logo {
  width: 60px;
  height: 60px;
  animation: logo 2s infinite;
  fill: rgb(9, 8, 8)
}
@keyframes logo {
  0% {
    background-color: #ffffff00;
    border-radius: 50%;
  }
  50% {
    background-color: #ffffff93;
    border-radius: 50%;
  }
  100% {
    background-color: #ffffff00;
    border-radius: 50%;
  }
}

/*    -------     FOOTER   -----------    */

 footer a:hover{
  text-decoration: underline;
}

